/* src/components/Poster.css */
.poster {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #16f6f3;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 100%;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 255, 255, 1);
  }
  
  .poster:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 1);
  }
  
  .poster-image {
     width: 100%;
  height: 320px;        /* fixed height across all images */
  object-fit: cover;
  }
  
  h2 {
    font-size: 1.3em;
    margin: 15px 0 10px;
    color: #16f6f3;
  }
  
  p {
    color: #16f6f3;
    font-size: 1em;
  }
  
  @media (min-width: 1024px) {
    .poster {
      width: auto;
    }
  }
  
  @media (max-width: 768px) {
    .poster {
      padding: 15px;
    }
  
    h2 {
      font-size: 1.25em;
    }
  
    p {
      font-size: 0.9em;
    }
  }
  