@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'tecknaf';
  src: url('../public/fonts/tecknaf.otf') format('opentype');
  font-weight: lighter;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'tecknaf', 'monospace';
    letter-spacing: 2px; /* adjust as needed */
}
